.contact-form-container {
  display: flex;
  flex-direction: column;
  background-color: #241D2F;
  border-radius: 25px;
  padding: 3rem;
  width: 30vw;
  height: 30vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .contact-form-container {
    width: 50vw;
  }
}
