.contact-form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  background-color: #241D2F;
  border-radius: 25px;
  padding: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact-title {
  font-size: 1.25rem;
}

.contact-success {
  font-size: 1.25rem;
}

input, textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  resize: none;
}

@media (max-width: 768px) {
  .contact-form-container {
    width: 70%;
  }
}
