nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding-left: 10%;
  padding-right: 10%; */
}

.logo {
  width: 15rem;
  height: auto;
}
