footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  gap: 1.5rem;
}

.footer-email {
  color: #fcebf3;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-icon {
  color: #fcebf3;
}

.footer-icon:hover {
  color: #B0A4AA;
}
