/* footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  clear: both;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: #391e4c;
}

.footer-email {
  color: #fcebf3;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  color: #fcebf3;
}

.social-icon:hover {
  color: #B0A4AA;
} */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  gap: 1.5rem;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  color: #fcebf3;
}

.social-icon:hover {
  color: #B0A4AA;
}
